services:
  api:
    build: .
    container_name: quiz-app-api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
